# Day 3: Python Loops
## Lecture Notebook

This notebook is for live coding on loops. We'll iterate with `for` and `while`, compare when to use each, and practice common patterns.

---

## ðŸŽ¯ Goals for This Session
- Iterate lists and ranges with `for`
- Control repetition and termination with `while`
- Choose the right loop for the job

---

## ðŸ” Part 1: For Loops

### Demo 1.1: Iterating Over a List
Iterate over `orders = [45, 120, 75, 200, 95]` and compute total and count of orders >= 100.

In [6]:
# Live Code: For Loop over list

orders = [45, 120, 75, 200, 95]
transaction_n = 0
total = 0
high_count = 0

for amount in orders:
  transaction_n += 1
  print(f"{transaction_n}.current total:{total} current amount:{amount}")
  total += amount
  if amount >= 100:
    high_count += 1

print(total, high_count)

1.current total:0 current amount:45
2.current total:45 current amount:120
3.current total:165 current amount:75
4.current total:240 current amount:200
5.current total:440 current amount:95
535 2

### Demo 1.2: Range and Index
Use `range` to iterate indexes for `names = ["Ava", "Ben", "Cara"]` and print index â†’ name.

In [7]:
# Live Code: range indices

names = ["Ava", "Ben", "Cara"]
for i in range(len(names)):
   print(i, names[i])

0 Ava
1 Ben
2 Cara

In [12]:
names = ["Ava", "Ben", "Cara"]
for _, i in enumerate(names):
  print(f"Hi,{i}")

Hi,Ava
Hi,Ben
Hi,Cara

## ðŸ”„ Part 2: While Loops

### Demo 2.1: Counter with Condition
Increment a counter until it reaches a limit; print steps.

In [ ]:
# Live Code: while loop counter

count = 0
limit = 5
while count < limit:
  count += 1
  print(count)

### Demo 2.2: Input Simulation with Sentinel
Simulate reading values until `None` is encountered, then stop.

In [13]:
# Live Code: sentinel loop

values = [10, 20, None, 30]
i = 0
while i < len(values) and values[i] is not None:
  print(values[i])
  i += 1

10
20

## ðŸ§ª Part 3: Filtering/Mapping and Flow Control

### Demo 3.1: Filtering and Mapping
Use a loop to filter and then map values in a single pass.

In [18]:
# Live Code: Filtering and Mapping

prices = [9.99, 25.00, 4.50, 120.00, 49.99]
filtered = []  # keep prices >= 20
with_tax = []  # map to price * 1.0825 (example tax)

for price in prices:
  if price >= 20:
   filtered.append(price)
  with_tax.append(round(price * 1.0825,2))

print(filtered)
print(with_tax)

[25.0, 120.0, 49.99]
[10.81, 27.06, 4.87, 129.9, 54.11]

Now let's write a list comprehension that returns a list of prices (with tax) for items >=$20:

In [20]:
# Live Code: Filtering and Mapping

prices = [9.99, 25.00, 4.50, 120.00, 49.99]

with_tax = [round(price * 1.0825, 2) for price in prices if price >= 20]
print(with_tax)

[27.06, 129.9, 54.11]

### Demo 3.2: Early Exit and Skips
Demonstrating `break` to stop early and `continue` to skip items.

In [22]:
# Live Code: break and continue

numbers = [3, 7, -1, 10, 0, 5]
total = 0
for n in numbers:
    # if n < 0:
    #     break  # early exit on invalid value
    if n < 0:
        print(f"\n WARNNING:: Transaction with value{n} is being skipped!\n")
        continue  # skip zeros
    print(f"Total before te current transaction: {total} current transaction:{n}")
    total += n
print(total)

Total before te current transaction: 0 current transaction: 3
Total before te current transaction: 3 current transaction: 7

 WARNNING:: Transaction with value-1 is being skipped!

Total before te current transaction: 10 current transaction: 10
Total before te current transaction: 20 current transaction: 0
Total before te current transaction: 20 current transaction: 5
25